/* Variables */
/* General */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.Main-Container {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  background: url("./media/Background main.png") center no-repeat;
  left: 0;
  right: 0;
  top: 0;
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.line {
  width: 43vw;
  color: #7a143b;
  border: 0.08vw solid #7a143b;
  border-radius: 1rem;
  opacity: 1;
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand img {
  width: 6vw;
}

.float-container {
  padding-top: 35vh;
}

.float-child {
  width: 50%;
  float: left;
}

.float-child h1 {
  font: "Nunito";
  font-size: 5vw;
}

.float-child h2 {
  font: "Nunito";
  font-size: 3vw;
  font-weight: lighter;
}

.float-child h4 {
  font: "Nunito";
  font-size: 4vw;
  font-weight: lighter;
}

.float-child p {
  font: "Nunito";
  font-size: 2vw;
}

.navbar .navbar-nav .nav-link {
  color: #040404;
  position: relative;
  font: "Nunito";
  font-size: 2vw;
  font-weight: lighter;
}

.navbar .navbar-nav .active {
  color: #7a143b !important;
}

.navbar .navbar-nav .nav-link:hover {
  color: #7a143b;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #7a143b;
  color: transparent;
  width: 0%;
  content: ".";
  height: 1.5px;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 90%;
}

.fa {
  color: #7a143b;
}

.fa:hover {
  color: #fff;
}

#About .container {
  position: relative;
  max-width: 98%;
  top: 12vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1vw;
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #040404;
}

#About .container h1 {
  text-align: center;
  padding-top: 1vh;
}

#About .container p {
  margin-left: 13vw;
  margin-right: 13vw;
}

#About .container hr {
  margin-left: 25vw;
}

#About .container .col-sm {
  word-wrap: break-word;
  width: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1vw;
  border-radius: 1vw;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: #fff;
  text-align: center;
}

#Experience .container {
  position: relative;
  max-width: 98%;
  top: 12vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1vw;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#Experience .container hr {
  margin-left: 25vw;
}

#Experience .container h1 {
  padding-top: 1vh;
  color: #fff;
}

#Experience .container .col-sm {
  word-wrap: break-word;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1vw;
  border-radius: 1vw;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  text-align: justify;
}

#Experience .container .col-sm h1 {
  color: #040404;
  text-align: center;
}

#Projects .container {
  position: relative;
  max-width: 100%;
  padding-top: 14vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18.75rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  -ms-grid-rows: minmax(6.25rem, auto);
      grid-template-rows: minmax(6.25rem, auto);
  grid-auto-flow: dense;
  grid-gap: 0.625rem;
}

#Projects .container .box {
  background: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  font-size: 1.25rem;
  place-items: center;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

#Projects .container .box a {
  color: #fff;
}

#Projects .container .box h4 {
  font-size: 20px;
}

#Projects .container .box p {
  font-size: 15px;
}

#Projects .container .box img {
  position: relative;
  max-height: 30px;
}

#Projects .container .box:hover {
  background: #7a143b;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

#Projects .container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

#Projects .container .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

#Projects .container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}

#Interests .container {
  padding-top: 5vh;
}

#Interests .container .row {
  background-color: rgba(0, 0, 0, 0.5);
  width: 95vw;
  margin-left: -7vw;
  border-radius: 1vw;
  margin-top: 7vh;
  color: #fff;
}

#Interests .container .row .row {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: rgba(255, 255, 255, 0.5);
  width: 88vw;
  border-radius: 1vw;
  word-wrap: break-word;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: #040404;
}

#Interests .container .row .row .row2 {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  margin: 0;
}

#Interests .container .row .row .col2 {
  margin: 10px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1vw;
  color: #fff;
}

#Interests .container .row .row .col2 .h1 {
  margin: 0;
}

#Interests .container .row .row .progress {
  margin-top: -1em;
}

#Interests .container .row .row .progress-bar {
  background-color: #7a143b;
}

#Interests .container .row .row3 {
  margin: 0;
  margin-bottom: 3vh;
}

@media (max-width: 46.875rem) {
  body::before {
    background-position: center;
  }
  .float-container {
    position: relative;
    top: -21vh;
  }
  .float-child:nth-child(1) {
    width: 0%;
    float: left;
    position: fixed;
  }
  .float-child:nth-child(2) {
    width: 100%;
    float: left;
    text-align: center;
  }
  .float-child:nth-child(2) h1 {
    font-size: 8vw;
  }
  .float-child:nth-child(2) h2 {
    font-size: 6vw;
  }
  .line {
    position: relative;
    left: 28vw;
    width: 43vw;
    color: #7a143b;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 8vw;
    font-weight: lighter;
  }
  .navbar-brand img {
    width: 20vw;
  }
  .navbar-collapse {
    -webkit-transition: none;
    transition: none;
    position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    border-radius: 10px;
    margin-top: 5vh;
    height: 80vh;
    text-align: center;
    z-index: 1;
  }
  body::before {
    background: url("./media/Background mobile.png") no-repeat center bottom fixed;
  }
  .collapse-social-icons-dropdown {
    display: none !important;
  }
  #About {
    min-height: 100vh;
    height: auto;
  }
  #About .container {
    max-width: 98%;
    top: 12vh;
    border-radius: 1vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #About .container p {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  #About .container hr {
    margin-left: -4vw;
  }
  #About .container .col-sm {
    width: 45%;
    margin: 1vw;
  }
  #Experience {
    height: auto;
    margin-top: 10vh;
  }
  #Experience .container {
    max-width: 98%;
    top: 12vh;
    border-radius: 1vw;
    margin-bottom: 10vh;
    padding-bottom: 1vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #Experience .container hr {
    margin-left: -4vw;
  }
  #Experience .container .col-sm {
    width: 95%;
    margin: 1vw;
  }
  #Projects {
    height: auto;
  }
  #Projects .container {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    -ms-grid-rows: minmax(auto, auto);
        grid-template-rows: minmax(auto, auto);
  }
  #Projects .container .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
  #Interests .container {
    padding-top: 10vh;
    height: auto;
  }
  #Interests .container .row {
    margin: 0;
  }
  #Interests .container .row h2 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 46.875rem) {
  .navbar .navbar-nav .nav-item {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) {
    border-right: 0.13vw solid #7a143b;
  }
  .collapse-social-icons {
    display: none !important;
  }
}
/*# sourceMappingURL=styles.css.map */