/* Variables */
$base-color: #040404;
$base-color2: #fff;

/* General */

body::before {
  content: "";
  position: fixed;
  background: url("./media/Imagen\ personal_Mesa\ de\ trabajo\ 2_Mesa\ de\ trabajo\ 1.png") top right no-repeat;
  left: 0;
  right: 0;
  top: 0;
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.float-container {
  padding-top: 35vh;
}

.float-child {
  width: 50%;
  float: left;
}



// Responsive

@media (max-width: 62rem) {
  body::before {
    background-position: left;
    box-shadow: inset 0 100vh rgba(0, 0, 0, 0.6);
  }

  .float-child:nth-child(1) {
    width: 0%;
    float: left;
  }

  .float-child:nth-child(2) {
    width: 100%;
    float: left;
    text-align: center;
    color: white;
  }


  .navbar-collapse{
    height: 100vh;
    background-color: #7E6551;
    border-radius: 10px; 

    body
    {
    	background:#2c3e50 !important;
    }
    
  }
}
