/* Variables */
$base-color: #040404;
$base-color2: #fff;
$main: #7A143B;
$main2: #6bc043;
$trans-bckg: rgba(255,255,255,.5);
$trans-bckg2: rgba(0,0,0,.5);

/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth
}
section{
  height: 100vh;
  scroll-snap-align: start;
}

.Main-Container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  background: url("./media/Background\ main.png") center no-repeat;
  left: 0;
  right: 0;
  top: 0;
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.line{
width: 43vw;  
color: $main;
border: .08vw solid $main;
border-radius: 1rem;
opacity: 1;
}

nav {
 background-color: rgba(255,255,255,.5);
}

.navbar-brand img{
  width: 6vw;
}

.float-container {
  padding-top: 35vh;
}

.float-child {
  width: 50%;
  float: left;

  h1{
    font: "Nunito";
    font-size: 4vw
  }
  h2{
    font: "Nunito";
    font-size: 2.5vw;
    font-weight: lighter;


  }
  
}



.navbar .navbar-nav .nav-link {
  color: $base-color;
  position: relative;
  font: "Nunito";
  font-size: 2vw;
  font-weight: lighter;
}
.navbar .navbar-nav .nav-link:hover {
  color: $main;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $main;
  color: transparent;
  width: 0%;
  content: '.';
  height: 1.5px;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 90%;
}

.fa {
  color: $main;
}

.fa:hover {
  color: $base-color2;
} 

// About me

.jumbotron{
  position: relative;
  top: 15vh;
  height: 80vh;
  left: 2vw;
  width: 96vw;
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
  text-align: center;
  align-content: center;
  backdrop-filter: blur(6px);
   h1{
     color: $base-color2;
   }
   .line{
     margin-left: 26vw;
   }
   p{
     margin-left: 5vw;
     margin-right: 5vw;
    color: $base-color2;
  }

  .float-container2 {
    padding-top: 3vh;
    
  }
  
  .float-child2 {
    width: 40%;
    float: left;
    margin-left: 6.5vw;
    margin-top: 2vh;
  }

  .card{
    background-color: $trans-bckg;
  }

}

// Projects
#Projects .container{
  position: relative;
  max-width: 100%;
  padding-top: 14vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  grid-template-rows: minmax(6.25rem, auto);
  grid-auto-flow: dense;
  grid-gap: .625rem;

  .box{
    background: rgba(0,0,0,.5);
    display: grid;
    font-size: 1.25rem;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    backdrop-filter: blur(6px);

    a{
      color: #fff;

      
    }

    h4{
      font-size: 20px;

    }
    p{
      font-size: 15px;
    }

    img{
      position: relative;
      max-height: 30px;
    }
  }

  .box:hover{
    background: $main;
    opacity: .5;
    backdrop-filter: blur(6px);
  }

  .box:nth-child(1){ 
     grid-column: span 2; 
     grid-row: span 1; 
    }
    .box:nth-child(2){ 
      grid-column: span 1; 
      grid-row: span 2; 
     }
     .box:nth-child(4){ 
      grid-column: span 1; 
      grid-row: span 2; 
     }


  
}


// Responsive

@media (max-width: 46.875rem) {
  body::before {
    background-position: center;
  }

  .float-container {
    position: relative;
    top: -21vh;
  }

  .float-child:nth-child(1) {
    width: 0%;
    float: left;
    position: fixed;
  }

  .float-child:nth-child(2) {
    width: 100%;
    float: left;
    text-align: center;

    h1{
      font-size: 8vw
    }
    h2{
      font-size: 6vw;
    }

  }

  .line{
    position: relative;
    left: 28vw;
    width: 43vw;  
    color: $main;
    
    }

  

    .navbar .navbar-nav .nav-link {
      font-size: 8vw;
      font-weight: lighter;
    }

    .navbar-brand img{
      width:20vw;
    }

  .navbar-collapse{
    transition: none;
    position: center;
    display: flex;           
    
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    margin-top: 5vh;
    height: 80vh;
    text-align: center;
    z-index: 1;

  }

  body::before {
    background: url("./media/Background\ mobile.png") no-repeat center bottom fixed;
  }

  .collapse-social-icons-dropdown {
    display:none !important;
  } 

  // About
  #About{
    height: content-box;
  }
  

  .jumbotron{
    height: 90vh;
    top: 10vh;

     .line{
       margin-left: 0;
     }
    
    .float-child2 {
      .card{

        height: auto;
      }
     
    }
    }

    // Projects
    #Projects{
      height: auto;
    }

    #Projects .container{
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-rows: minmax(auto,auto);

      .box{
        grid-column: unset !important;
        grid-row: unset !important;
      }
    }

}

@media only screen and (min-width: 62rem) {
  .navbar .navbar-nav .nav-item {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) {
    border-right: 0.13vw solid $main;
  }

  .collapse-social-icons {
    display:none !important;
  }
}

