/* Variables */
/* General */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.Main-Container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  background: url("./media/Background main.png") center no-repeat;
  left: 0;
  right: 0;
  top: 0;
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.line {
  width: 43vw;
  color: #7A143B;
  border: 0.08vw solid #7A143B;
  border-radius: 1rem;
  opacity: 1;
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand img {
  width: 6vw;
}

.float-container {
  padding-top: 35vh;
}

.float-child {
  width: 50%;
  float: left;
}

.float-child h1 {
  font: "Nunito";
  font-size: 4vw;
}

.float-child h2 {
  font: "Nunito";
  font-size: 2.5vw;
  font-weight: lighter;
}

.navbar .navbar-nav .nav-link {
  color: #040404;
  position: relative;
  font: "Nunito";
  font-size: 2vw;
  font-weight: lighter;
}

.navbar .navbar-nav .nav-link:hover {
  color: #7A143B;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #7A143B;
  color: transparent;
  width: 0%;
  content: '.';
  height: 1.5px;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 90%;
}

.fa {
  color: #7A143B;
}

.fa:hover {
  color: #fff;
}

.jumbotron {
  position: relative;
  top: 15vh;
  height: 80vh;
  left: 2vw;
  width: 96vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron .line {
  margin-left: 26vw;
}

.jumbotron p {
  margin-left: 5vw;
  margin-right: 5vw;
  color: #fff;
}

.jumbotron .float-container2 {
  padding-top: 3vh;
}

.jumbotron .float-child2 {
  width: 40%;
  float: left;
  margin-left: 6.5vw;
  margin-top: 2vh;
}

.jumbotron .card {
  background-color: rgba(255, 255, 255, 0.5);
}

#Projects .container {
  position: relative;
  max-width: 100%;
  padding-top: 14vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18.75rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  -ms-grid-rows: minmax(6.25rem, auto);
      grid-template-rows: minmax(6.25rem, auto);
  grid-auto-flow: dense;
  grid-gap: .625rem;
}

#Projects .container .box {
  background: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  font-size: 1.25rem;
  place-items: center;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

#Projects .container .box a {
  color: #fff;
}

#Projects .container .box h4 {
  font-size: 20px;
}

#Projects .container .box p {
  font-size: 15px;
}

#Projects .container .box img {
  position: relative;
  max-height: 30px;
}

#Projects .container .box:hover {
  background: #7A143B;
  opacity: .5;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

#Projects .container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

#Projects .container .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

#Projects .container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}

@media (max-width: 46.875rem) {
  body::before {
    background-position: center;
  }
  .float-container {
    position: relative;
    top: -21vh;
  }
  .float-child:nth-child(1) {
    width: 0%;
    float: left;
    position: fixed;
  }
  .float-child:nth-child(2) {
    width: 100%;
    float: left;
    text-align: center;
  }
  .float-child:nth-child(2) h1 {
    font-size: 8vw;
  }
  .float-child:nth-child(2) h2 {
    font-size: 6vw;
  }
  .line {
    position: relative;
    left: 28vw;
    width: 43vw;
    color: #7A143B;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 8vw;
    font-weight: lighter;
  }
  .navbar-brand img {
    width: 20vw;
  }
  .navbar-collapse {
    -webkit-transition: none;
    transition: none;
    position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    border-radius: 10px;
    margin-top: 5vh;
    height: 80vh;
    text-align: center;
    z-index: 1;
  }
  body::before {
    background: url("./media/Background mobile.png") no-repeat center center fixed;
  }
  .collapse-social-icons-dropdown {
    display: none !important;
  }
  .jumbotron {
    top: 10vh;
  }
  .jumbotron .line {
    margin-left: 0;
  }
  .jumbotron .float-child2 .card {
    height: 8vh;
  }
  #Projects {
    height: 140vh;
  }
  #Projects .container {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    -ms-grid-rows: minmax(auto, auto);
        grid-template-rows: minmax(auto, auto);
  }
  #Projects .container .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}

@media only screen and (min-width: 62rem) {
  .navbar .navbar-nav .nav-item {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) {
    border-right: 0.13vw solid #7A143B;
  }
  .collapse-social-icons {
    display: none !important;
  }
}
/*# sourceMappingURL=styles.css.map */